@using TravelTripProje1.Models.Sinifler1
@model List<BLOG>
<div class="padding1">
    <h4>En son yuklenen 6 blog</h4>

    <div class="box-left">
        @foreach (var w in Model)
        {
            <div class="bot-img">
                <img src="@w.BLOGIMAGE"style="width:360px;height:80px" alt="" />
            </div>
            <div class="bot-desc">
                <p>@w.ACIQLAMA.Substring(0, 50) </p>
            </div>
            <div class="clear"></div>}


    </div>
    @Html.Action("partial5", "Default")

</div>
